<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Organic Food Store</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/app.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="content">
          <h1>Organic Food Store</h1>
          <h3>Blah blah blah blah fresh food no gmos pesticides right to ur dor</h3>
          <hr>
        </div>
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-body">
          <div id = "forms">
          <h4>Choose Location</h4>
           <a href="./products_sc">
            <button id="location" class="btn btn-primary btn-md custom"><i class="fa fa-map-marker" aria-hidden="true"></i> Santa Clara</button>
          </a>
          <a href="./products_sm">
            <button id="location" class="btn btn-primary btn-md custom"><i class="fa fa-map-marker" aria-hidden="true"></i> San Mateo</button>
          </a>
          <h4>OR</h4>
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" id="trackingNumberInput" placeholder="Tracking Number">
            </div>
            <button type="submit" class="btn btn-track form-control" id="submitButton"><i class="fa fa-truck" aria-hidden="true"></i> Track Order</button>
          </form>
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/bootstrap.min.js"></script>
  </body>
</html>
